<a href="https://colab.research.google.com/github/CatarinaRRF/Churn_Alura_Voz/blob/main/Data_Analysis/%20Analysis_Report_I_Data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<font color=3F7CAC>**Ralatório de Análise I - <font color=3F7CACFFA62B>Tratamento dos dados**


---

In [ ]:
import pandas as pd
import numpy as np

## **1. Dados Importados (API - Alura Voz)**

---

In [ ]:
data_alura_voz = pd.read_json ('Telco-Customer-Churn.json')

In [ ]:
data_alura_voz.dtypes

customerID    object
Churn         object
customer      object
phone         object
internet      object
account       object
dtype: object

In [ ]:
data_alura_voz.columns = ['ClienteId', 'Churn', 'Informações do cliente', 'Serviço de celular', 'Serviço de internet', 'Especificações da Conta']
data_alura_voz.head (3)

,ClienteId,Churn,Informações do cliente,Serviço de celular,Serviço de internet,Especificações da Conta
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [ ]:
client_id, churn = data_alura_voz['ClienteId'], data_alura_voz['Churn']

## **2. Extraindo informações sobre os clientes**

---

In [ ]:
info_cliente = pd.json_normalize(data=data_alura_voz['Informações do cliente'])
info_cliente.head(10)

   gender  SeniorCitizen Partner Dependents  tenure
0  Female              0     Yes        Yes       9
1    Male              0      No         No       9
2    Male              0      No         No       4
3    Male              1     Yes         No      13
4  Female              1     Yes         No       3
5  Female              0      No        Yes       9
6  Female              1     Yes         No      71
7    Male              0     Yes         No      63
8  Female              1      No         No       7
9  Female              0     Yes        Yes      65

In [ ]:
info_cliente.columns = ['Sexo', 'Cidadão Senior', 'Parceiros', 'Dependentes', 'ternure']
info_cliente.head(10)

     Sexo  Cidadão Senior Parceiros Dependentes  ternure
0  Female               0       Yes         Yes        9
1    Male               0        No          No        9
2    Male               0        No          No        4
3    Male               1       Yes          No       13
4  Female               1       Yes          No        3
5  Female               0        No         Yes        9
6  Female               1       Yes          No       71
7    Male               0       Yes          No       63
8  Female               1        No          No        7
9  Female               0       Yes         Yes       65

## **3. Extraindo informações dos produtos ofertados**


> Os serviços são: Linhas de Celular, Serviço de Internet e Serviço de Streaming
---

### **3.1. Assinatura de Serviço Telefônico**

In [ ]:
servico_celular = pd.json_normalize(data=data_alura_voz['Serviço de celular'])
servico_celular.head ()

  PhoneService MultipleLines
0          Yes            No
1          Yes           Yes
2          Yes            No
3          Yes            No
4          Yes            No

In [ ]:
servico_celular.columns = ['ServiçoTelefônico', 'MultiplasLinhas?']
servico_celular.head ()

  ServiçoTelefônico MultiplasLinhas?
0               Yes               No
1               Yes              Yes
2               Yes               No
3               Yes               No
4               Yes               No

### **3.2. Assinatura do Provedor de Internet (DSL ou Fiber optica)**

In [ ]:
servico_internet = pd.json_normalize(data=data_alura_voz['Serviço de internet'])
servico_internet.head ()

,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No

In [ ]:
#indica somente o serviço relacionadas a internet sem o serviço de streming que vem na string original
servico_internet.columns  = ['ServiçodeInternet', 'SegurançaOnline', 'BackupOnline','ProteçãodeDispositivos', 'SuporteTecnico', 'StreamingTV', 'StreamingdeFilmes']
servico_internet.head ()

,ServiçodeInternet,SegurançaOnline,BackupOnline,ProteçãodeDispositivos,SuporteTecnico,StreamingTV,StreamingdeFilmes
0,DSL,No,Yes,No,Yes,Yes,No
1,DSL,No,No,No,No,No,Yes
2,Fiber optic,No,No,Yes,No,No,No
3,Fiber optic,No,Yes,Yes,No,Yes,Yes
4,Fiber optic,No,No,No,Yes,Yes,No

### **3.3. Assinatura Streaming (TV a cabo e streaming de filmes)**

In [ ]:
servico_streaming = pd.DataFrame(data=servico_internet, columns=['StreamingTV', 'StreamingdeFilmes'])
servico_streaming.head ()

  StreamingTV StreamingdeFilmes
0         Yes                No
1          No               Yes
2          No                No
3         Yes               Yes
4         Yes                No

In [ ]:
servico_internet.drop (columns=['StreamingTV', 'StreamingdeFilmes'], inplace=True) #tem a função de deixar o dataframe serviço_internet mais enxuto

In [ ]:
servico_streaming.head ()

  StreamingTV StreamingdeFilmes
0         Yes                No
1          No               Yes
2          No                No
3         Yes               Yes
4         Yes                No

##**4. Extraindo informações das contas**

---

In [ ]:
conta = pd.json_normalize(data=data_alura_voz['Especificações da Conta'])
conta.head ()

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4
2,Month-to-month,Yes,Electronic check,73.9,280.85
3,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Month-to-month,Yes,Mailed check,83.9,267.4

In [ ]:
conta.columns = ['Contrato','CobrançaSemPapel?', 'MetodoDePagamento', 'CobrançaMensal','CobrançaTotal']
conta.head ()

,Contrato,CobrançaSemPapel?,MetodoDePagamento,CobrançaMensal,CobrançaTotal
0,One year,Yes,Mailed check,65.6,593.3
1,Month-to-month,No,Mailed check,59.9,542.4
2,Month-to-month,Yes,Electronic check,73.9,280.85
3,Month-to-month,Yes,Electronic check,98.0,1237.85
4,Month-to-month,Yes,Mailed check,83.9,267.4

***Criando uma coluna de gastos diarios***

In [ ]:
conta.insert(loc=3 , column = 'GastoDiário',  value = round(conta['CobrançaMensal']/30,5))
conta.head ()

,Contrato,CobrançaSemPapel?,MetodoDePagamento,GastoDiário,CobrançaMensal,CobrançaTotal
0,One year,Yes,Mailed check,2.18667,65.6,593.3
1,Month-to-month,No,Mailed check,1.99667,59.9,542.4
2,Month-to-month,Yes,Electronic check,2.46333,73.9,280.85
3,Month-to-month,Yes,Electronic check,3.26667,98.0,1237.85
4,Month-to-month,Yes,Mailed check,2.79667,83.9,267.4

In [ ]:
conta['CobrançaDiária'] = np.round(conta['GastoDiário'], decimals = 2)
conta.head()

,Contrato,CobrançaSemPapel?,MetodoDePagamento,GastoDiário,CobrançaMensal,CobrançaTotal
0,One year,Yes,Mailed check,2.19,65.6,593.3
1,Month-to-month,No,Mailed check,2.00,59.9,542.4
2,Month-to-month,Yes,Electronic check,2.46,73.9,280.85
3,Month-to-month,Yes,Electronic check,3.27,98.0,1237.85
4,Month-to-month,Yes,Mailed check,2.80,83.9,267.4

In [ ]:
Media_de_Gasto = (conta['CobrançaMensal'].max(axis=0) + conta['CobrançaMensal'].min(axis=0)) /2
Media_de_Gasto

68.5

## **5. Concatenando**


---

In [ ]:
df_limpo = pd.concat([client_id, info_cliente, servico_celular, servico_internet, servico_streaming, conta, churn], axis=1)

In [ ]:
df_limpo.head (10)

,ClienteId,Sexo,Cidadão Senior,Parceiros,Dependentes,ternure,ServiçoTelefônico,MultiplasLinhas?,ServiçodeInternet,SegurançaOnline,...,SuporteTecnico,StreamingTV,StreamingdeFilmes,Contrato,CobrançaSemPapel?,MetodoDePagamento,GastoDiário,CobrançaMensal,CobrançaTotal,Churn
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,DSL,No,...,Yes,Yes,No,One year,Yes,Mailed check,2.19,65.60,593.3,No
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,DSL,No,...,No,No,Yes,Month-to-month,No,Mailed check,2.00,59.90,542.4,No
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,2.46,73.90,280.85,Yes
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,Fiber optic,No,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,3.27,98.00,1237.85,Yes
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,Fiber optic,No,...,Yes,Yes,No,Month-to-month,Yes,Mailed check,2.80,83.90,267.4,Yes
5,0013-MHZWF,Female,0,No,Yes,9,Yes,No,DSL,No,...,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),2.31,69.40,571.45,No
6,0013-SMEOE,Female,1,Yes,No,71,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),3.66,109.70,7904.25,No
7,0014-BMAQU,Male,0,Yes,No,63,Yes,Yes,Fiber optic,Yes,...,Yes,No,No,Two year,Yes,Credit card (automatic),2.82,84.65,5377.8,No
8,0015-UOCOJ,Female,1,No,No,7,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Electronic check,1.61,48.20,340.35,No
9,0016-QLJIS,Female,0,Yes,Yes,65,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Two year,Yes,Mailed check,3.02,90.45,5957.9,No

## **6. Verificando e Retirando inconsistências**


---

In [ ]:
df_limpo.info() #Não existe valores nulus nesse dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ClienteId               7267 non-null   object
 1   Sexo                    7267 non-null   object
 2   Cidadão Senior          7267 non-null   int64
 3   Parceiros               7267 non-null   object
 4   Dependentes             7267 non-null   object
 5   ternure                 7267 non-null   int64
 6   ServiçoTelefônico       7267 non-null   object
 7   MultiplasLinhas?        7267 non-null   object
 8   ServiçodeInternet       7267 non-null   object
 9   SegurançaOnline         7267 non-null   object
 10  BackupOnline            7267 non-null   object
 11  ProteçãodeDispositivos  7267 non-null   object
 12  SuporteTecnico          7267 non-null   object
 13  StreamingTV             7267 non-null   object
 14  StreamingdeFilmes       7267 non-null   object
 15  Contrato                7267 non-null   object
 16  CobrançaSemPapel?       7267 non-null   object
 17  MetodoDePagamento       7267 non-null   object
 18  GastoDiário             7267 non-null   float64
 19  CobrançaMensal          7267 non-null   float64
 20  CobrançaTotal           7267 non-null   object
 21  Churn                   7267 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

###**6.1. Inconsistência do churn e ClientId**

---
***Churn*** = O data set busca analisar o churn. Deste modo, as celulas com os valores vazios não são uteis para este propósito, logo, serão descartadas.

In [ ]:
df_limpo['Churn'].unique ()

array(['No', 'Yes', ''], dtype=object)

In [ ]:
df_limpo.drop( df_limpo[(df_limpo['Churn'] == '')].index, inplace = True, axis = 0) #retirado Inconsistência
df_limpo['Churn'].unique ()

array(['No', 'Yes'], dtype=object)



---



---


***ClienteID*** = o número de valores únicos de ClienteId bate com o número  de 
linhas do data set (7043) e tem presente, valores nulos, logo, não há inconsistência.

In [ ]:
df_limpo['ClienteId'].unique ().shape[0]

7043

In [715]:
df_limpo['ClienteId'].unique ()

array(['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', ..., '9992-UJOEL',
       '9993-LHIEB', '9995-HOTOH'], dtype=object)



---

###**6.2. Inconsistência dos dados dos clientes**



---


**Sexo** = Nenhuma inconsistência encontrada

In [ ]:
df_limpo['Sexo'].unique () #atribuir a male/female

array(['Female', 'Male'], dtype=object)

---
**Cidadão Senior** = a lista possui apenas os valores 0 e 1 e, para melhor identificar a faixa etária, será atribuido estes valores as seguintes variáveis: 
* <font color=3F7CAC> 0 para 'Não'</font>
* <font color=3F7CAC> 1 para 'Sim'</font>

In [ ]:
df_limpo['Cidadão Senior'].unique ()

array([0, 1])

In [ ]:
for cidadão in 'Cidadão Senior':
  df_limpo['Cidadão Senior'] = df_limpo['Cidadão Senior'].replace({0:"No", 1:'Yes'})

df_limpo['Cidadão Senior']

0        No
1        No
2        No
3       Yes
4       Yes
       ...
7262     No
7263     No
7264     No
7265     No
7266     No
Name: Cidadão Senior, Length: 7043, dtype: object

---
**Parceiros e Dependentes** = Nenhuma inconsistência encontrada

In [ ]:
df_limpo['Parceiros'].unique ()

array(['Yes', 'No'], dtype=object)

In [ ]:
df_limpo['Dependentes'].unique ()

array(['Yes', 'No'], dtype=object)

---
<p align = 'justify'> <b>Tenure (Meses de contrato do cliente )</b> = Clientes que apresentam ternure igual a zero tem suas cobranças totais iguais a <b>NaN</b> (número vazio), já indicando uma inconsistência nas cobranças totais. Nesse sentido, os valores das variáveis que apresentam inconsistências, será substituido por <b>NaN</b>, de modo, a facilitar a compreensão posteriormente.</p>

> <font color=3F7CACFFA62B>A analise completa de 'cobranças totais' se encontra no item 6.5.

In [ ]:
df_limpo['ternure'].unique ()

array([ 9,  4, 13,  3, 71, 63,  7, 65, 54, 72,  5, 56, 34,  1, 45, 50, 23,
       55, 26, 69, 37, 49, 66, 67, 20, 43, 59, 12, 27,  2, 25, 29, 14, 35,
       64, 39, 40, 11,  6, 30, 70, 57, 58, 16, 32, 33, 10, 21, 61, 15, 44,
       22, 24, 19, 47, 62, 46, 52,  8, 60, 48, 28, 41, 53, 68, 31, 36, 17,
       18, 51, 38, 42,  0])

In [ ]:
df_limpo.loc[info_cliente['ternure'] == 0]

In [718]:
for mes in 'ternure':
  df_limpo.replace(0, np.nan, inplace = True)

df_limpo.loc[info_cliente['ternure'] == 0]

,ClienteId,Sexo,Cidadão Senior,Parceiros,Dependentes,ternure,ServiçoTelefônico,MultiplasLinhas?,ServiçodeInternet,SegurançaOnline,...,SuporteTecnico,StreamingTV,StreamingdeFilmes,Contrato,CobrançaSemPapel?,MetodoDePagamento,GastoDiário,CobrançaMensal,CobrançaTotal,Churn
975,1371-DWPAZ,Female,No,Yes,Yes,NaN,No,No,DSL,Yes,...,Yes,Yes,No,Two year,No,Credit card (automatic),1.87,56.05,NaN,No
1775,2520-SGTTA,Female,No,Yes,Yes,NaN,Yes,No,No,No,...,No,No,No,Two year,No,Mailed check,0.67,20.00,NaN,No
1955,2775-SEFEE,Male,No,No,Yes,NaN,Yes,Yes,DSL,Yes,...,Yes,No,No,Two year,Yes,Bank transfer (automatic),2.06,61.90,NaN,No
2075,2923-ARZLG,Male,No,Yes,Yes,NaN,Yes,No,No,No,...,No,No,No,One year,Yes,Mailed check,0.66,19.70,NaN,No
2232,3115-CZMZD,Male,No,No,Yes,NaN,Yes,No,No,No,...,No,No,No,Two year,No,Mailed check,0.68,20.25,NaN,No
2308,3213-VVOLG,Male,No,Yes,Yes,NaN,Yes,Yes,No,No,...,No,No,No,Two year,No,Mailed check,0.84,25.35,NaN,No
2930,4075-WKNIU,Female,No,Yes,Yes,NaN,Yes,Yes,DSL,No,...,Yes,Yes,No,Two year,No,Mailed check,2.44,73.35,NaN,No
3134,4367-NUYAO,Male,No,Yes,Yes,NaN,Yes,Yes,No,No,...,No,No,No,Two year,No,Mailed check,0.86,25.75,NaN,No
3203,4472-LVYGI,Female,No,Yes,Yes,NaN,No,No,DSL,Yes,...,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),1.75,52.55,NaN,No
4169,5709-LVOEQ,Female,No,Yes,Yes,NaN,Yes,No,DSL,Yes,...,No,Yes,Yes,Two year,No,Mailed check,2.70,80.85,NaN,No
5599,7644-OMVMY,Male,No,Yes,Yes,NaN,Yes,No,No,No,...,No,No,No,Two year,No,Mailed check,0.66,19.85,NaN,No

In [717]:
df_limpo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ClienteId               7043 non-null   object
 1   Sexo                    7043 non-null   object
 2   Cidadão Senior          7043 non-null   object
 3   Parceiros               7043 non-null   object
 4   Dependentes             7043 non-null   object
 5   ternure                 7032 non-null   float64
 6   ServiçoTelefônico       7043 non-null   object
 7   MultiplasLinhas?        7043 non-null   object
 8   ServiçodeInternet       7043 non-null   object
 9   SegurançaOnline         7043 non-null   object
 10  BackupOnline            7043 non-null   object
 11  ProteçãodeDispositivos  7043 non-null   object
 12  SuporteTecnico          7043 non-null   object
 13  StreamingTV             7043 non-null   object
 14  StreamingdeFilmes       7043 non-null   object
 15  Contrato                7043 non-null   object
 16  CobrançaSemPapel?       7043 non-null   object
 17  MetodoDePagamento       7043 non-null   object
 18  GastoDiário             7043 non-null   float64
 19  CobrançaMensal          7043 non-null   float64
 20  CobrançaTotal           7032 non-null   float64
 21  Churn                   7043 non-null   object
dtypes: float64(4), object(18)
memory usage: 1.2+ MB



---

###**6.3. Inconsistência dos Produtos**


>

#### **6.3.1. Inconsistência da Assinatura de Serviço Telefônico**

---
**Seviço Telefônico e Multiplas Linhas** = Neste caso, apenas Multiplas linhas apresenta inconsistências, o item <font color=3F7CAC>'No phone service'</font> poderia ser somente 'Não', visto que não possuir o serviço e não te-ló são equivalentes no contexto desta análise.

> <font color=3F7CACFFA62B>Resolvido em conjunto no item 6.6. do index.

In [ ]:
df_limpo['ServiçoTelefônico'].unique ()

array(['Yes', 'No'], dtype=object)

In [ ]:
df_limpo['MultiplasLinhas?'].unique ()

array(['No', 'Yes', 'No phone service'], dtype=object)

####**6.3.2. Inconsistência da Assinatura provedor de Internet**



---


**Tipos de Serviço de Internet** = Nenhuma inconsistência encontrada

In [ ]:
df_limpo['ServiçodeInternet'].unique ()

array(['DSL', 'Fiber optic', 'No'], dtype=object)

---
**Outros serviços** = O item <font color=3F7CAC>'No internet service'</font> poderia ser somente 'Não', visto que não possuir o serviço e não te-ló são equivalentes no contexto desta análise.
 > <font color=3F7CACFFA62B>Resolvido em conjunto no item 6.6. do index

In [ ]:
df_limpo['SegurançaOnline'].unique ()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [ ]:
df_limpo['BackupOnline'].unique ()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [ ]:
df_limpo['ProteçãodeDispositivos'].unique ()

array(['No', 'Yes', 'No internet service'], dtype=object)

In [ ]:
df_limpo['SuporteTecnico'].unique ()

array(['Yes', 'No', 'No internet service'], dtype=object)



---

####**6.3.3. Inconsistência da Assinatura de Serviço Streaming**

---
**Streaming TV e Streaming de Filmes** = Neste caso, o item <font color=3F7CAC>'No internet service'</font> poderia ser somente 'Não', visto que não possuir o serviço e não te-ló são equivalentes no contexto desta análise.

> <font color=3F7CACFFA62B>Resolvido em conjunto no item 6.6. do index.

In [ ]:
df_limpo['StreamingTV'].unique ()

array(['Yes', 'No', 'No internet service'], dtype=object)

In [ ]:
df_limpo['StreamingdeFilmes'].unique ()

array(['No', 'Yes', 'No internet service'], dtype=object)

#### **6.3.4. Resoluções Gerais aos produtos**
<p>Como descrito anteriormente, foi proposto a alteração dos itens <font color=3F7CAC>'No phone service'</font> e <font color=3F7CAC>'No internet service'</font> para <font color=3F7CAC> o  item 'Não'</font>.</p>

---

In [ ]:
resolucao = ['Parceiros',
            'Dependentes',
            'ServiçoTelefônico',
            'MultiplasLinhas?',
            'ServiçodeInternet',
            'SegurançaOnline',
            'BackupOnline',
            'ProteçãodeDispositivos',
            'SuporteTecnico',
            'StreamingTV',
            'StreamingdeFilmes',
            'CobrançaSemPapel?']

In [ ]:
for column in resolucao:
  df_limpo[column] = df_limpo[column].replace({"No internet service":"No", "No phone service": "No"})

In [719]:
df_limpo.head()

,ClienteId,Sexo,Cidadão Senior,Parceiros,Dependentes,ternure,ServiçoTelefônico,MultiplasLinhas?,ServiçodeInternet,SegurançaOnline,...,SuporteTecnico,StreamingTV,StreamingdeFilmes,Contrato,CobrançaSemPapel?,MetodoDePagamento,GastoDiário,CobrançaMensal,CobrançaTotal,Churn
0,0002-ORFBO,Female,No,Yes,Yes,9.0,Yes,No,DSL,No,...,Yes,Yes,No,One year,Yes,Mailed check,2.19,65.6,593.30,No
1,0003-MKNFE,Male,No,No,No,9.0,Yes,Yes,DSL,No,...,No,No,Yes,Month-to-month,No,Mailed check,2.00,59.9,542.40,No
2,0004-TLHLJ,Male,No,No,No,4.0,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,2.46,73.9,280.85,Yes
3,0011-IGKFF,Male,Yes,Yes,No,13.0,Yes,No,Fiber optic,No,...,No,Yes,Yes,Month-to-month,Yes,Electronic check,3.27,98.0,1237.85,Yes
4,0013-EXCHZ,Female,Yes,Yes,No,3.0,Yes,No,Fiber optic,No,...,Yes,Yes,No,Month-to-month,Yes,Mailed check,2.80,83.9,267.40,Yes

###**6.4. Inconsistência das contas**

In [ ]:
conta.info() #CobrançaTotal devia ser int64 e não object;

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Contrato           7267 non-null   object
 1   CobrançaSemPapel?  7267 non-null   object
 2   MetodoDePagamento  7267 non-null   object
 3   GastoDiário        7267 non-null   float64
 4   CobrançaMensal     7267 non-null   float64
 5   CobrançaTotal      7267 non-null   object
dtypes: float64(2), object(4)
memory usage: 340.8+ KB

**Cobrança sem Papel, Metodo de Pagamento, Gasto Diário, Cobrança Mensal** = Nenhuma inconsistência encontrada

In [ ]:
df_limpo['Contrato'].unique ()

array(['One year', 'Month-to-month', 'Two year'], dtype=object)

In [ ]:
df_limpo['CobrançaSemPapel?'].unique ()

array(['Yes', 'No'], dtype=object)

In [ ]:
df_limpo['MetodoDePagamento'].unique ()

array(['Mailed check', 'Electronic check', 'Credit card (automatic)',
       'Bank transfer (automatic)'], dtype=object)

In [ ]:
df_limpo['CobrançaMensal'].unique ().shape[0]

1585

---
**Cobrança Total** = O tipo, retornado pelo dtype, desta coluna é o de <font color=3F7CAC>object</font> porém, por se tratar de um valor quantitativo, é necessário o trasformar em <font color=3F7CAC>Float</font> (número decimal).

In [ ]:
df_limpo['CobrançaTotal'].unique ()

array(['593.3', '542.4', '280.85', ..., '742.9', '4627.65', '3707.6'],
      dtype=object)

In [ ]:
df_limpo['CobrançaTotal'] = round(pd.to_numeric(conta['CobrançaTotal'], errors='coerce'),2) 
df_limpo['CobrançaTotal'].dtype

dtype('float64')



---

#Exportando para csv

In [ ]:
df_limpo.to_csv(r'data_alura_voz.csv', index = False)

In [ ]:
info_cliente.to_csv(r'info_cliente.csv', index = False)

In [ ]:
servico_celular.to_csv(r'servico_celular.csv', index = False)

In [ ]:
servico_internet.to_csv(r'servico_internet.csv', index = False)

In [ ]:
servico_streaming.to_csv(r'servico_streaming.csv', index = False)

In [ ]:
conta.to_csv(r'conta.csv', index = False)